// COLORS
$gray01: #2f2f2f;
$gray02: #222;
$gray03: #333;
$gray04: #353535;

$green01: #3fe167;
$green04: #deff59;

$black: #000;
$white: #fff;
$white02: ivory;

$yellow01: gold;


$blue01: #20a0e6;	// Para los botones o links

// FONTS
$font01: 'Berlin-Sans-FB-Regular';