#ourServicesPage {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.servicesPage {
    position: relative;
    z-index: 100;
    border-top: 1px solid;
    // background-color: #fff;

	// background: #649173;  
	// background: -webkit-linear-gradient(to top, #DBD5A4, #649173);
	// background: linear-gradient(to top, #DBD5A4, #649173);


background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	    
	&__header  {
		padding: 2em 0;
		background-color: $white;


		&__title {
			color: #2d2959;
			font-size: 1.3em;
			text-align: center;
			font-family: $textFont--bold;

			@media (min-width: $mobileBreakpoint) {
				font-size: 3.3em;			
			}
		}

		&__subtitle {
		    font-family: $font02;
		    font-size: 18px;
		    letter-spacing: -0.75px;
		    margin: 4px 0 0;
		}



		@media (min-width: $mobileBreakpoint) {
			padding: 2em 0;			
		}

	}


	&__content {
		padding: 2em 0 1em;


		@media (min-width: $mobileBreakpoint) {
			padding: 2em 0 4em;			
		}
	}
}


.pServ {

	&__item {
		margin: 0 0 3em;

		&__header {
			display: flex;
			align-items: center;

			&__icon {
				display: block;
				width: 60px;
				height: 60px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;

				&__overlay {
				    display: inline-flex;
				    width: 80px;
				    height: 80px;
				    justify-content: center;
				    align-items: center;
				    border-radius: 50%;
				    padding: 15px;

				    // test
				    background-color: rebeccapurple;
				}

				&--webbusiness {
					background-image: url(../pics/webbusiness-b.png); 
				}
				&--dgmarkt {
					background-image: url(../pics/dgmarkt-b.png); 
				}
				&--blockchain {
					background-image: url(../pics/blockchain-b.png); 
				}
				&--cloud {
					background-image: url(../pics/cloud-b.png); 
				}
				&--geotargeting {
					background-image: url(../pics/geotargeting-b.png); 
				}
				&--webexperts {
					background-image: url(../pics/webexperts-b.png); 
				}
				// &--XXXXX {
				// 	background-image: url(../pics/XXXXX.png); 
				// }

			}

			&__title {
				font-family: $textFont--bold;
				font-size: 2.1em;
			    margin: 0 0.3em;
			    color: $white;

				@media (min-width: $mobileBreakpoint) {
					font-size: 3.6em;
				}


			}
		}

		&__content {

			&__txt {
				font-family: $textFont;
    			font-size: 1.34em;
				color: $white;
				margin: 0.5em 0 0;
			}
		}


		&:nth-child(even) {
			header {
				flex-direction: row-reverse;
			}
			p {
				text-align: right;
			}
		}

	}
}