.whoWeArePage {
	position: relative;
	z-index: 100;
	background-color: #fff;
	border-top: 1px solid;

	&__header  {
		margin: 2em 0 0;


		&__title {
			font-size: 2em;
		}


	}


	&__content {
		margin: 2em 0 4em;

		&__text {

			&__p {
				margin: 0 0 10px;
			}
		}
	}
}

.penguinServices {

	&__header {
		// display: flex;


		&__icon {

		}

		&__title {

		}
	}

	&__item {
    	margin: 40px 0 0;

		&__header {
			display: flex;
			align-items: center;

			&__icon {
			font-size: 42px;
			display: block;
			color: #333;			
			}

			&__title {
	    	    font-family: 'Optician-Sans';
			    margin: 0 0 0 12px;
			    color: #333;
			    font-size: 33px;

			    @media (min-width: $mobileBreakpoint) {
			    	font-size: 43px;

			    }
			}

		}

		&__content {


			// SAMPLE LOREM IPSUM
			p {
				font-size: 16px;
    			margin: 6px 0 0;
			}
		}
	}


}