// HEADER BG 
body#whoWeArePage {
	background: url(../pics/dingliyellow02.jpg);
}
.whoWeArePage {
	position: relative;
	padding: 0 0 2em;
	z-index: 100;
	background-color: $white;
	border-top: 1px solid;
	// TEMP FOR LAYOUTING
	// background-image: linear-gradient( 358.7deg,  rgba(42,136,157,1) 1.7%, rgba(122,197,214,1) 51.1%, rgba(211,232,242,1) 95.5% );
	

	// background: url(../pics/dingli-degradado.jpg) center no-repeat transparent;


	// PARA EL PARALLAX
	// background-image: url(../pics/dingli-degradado.jpg);
	background-image: url(../pics/dingliyellow02.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;


	&__header  {
		margin: 2em 0 0;

		&__title {
			color: $yellow01;
		}
	}

	&__content {
		// margin: 2em 0 4em;
		padding: 1em 0;

		&__text {

			&__p {
				margin: 0 0 10px;
			    font-family: $font01;
			    font-size: 1.15em;
		    	line-height: 1.1;
		    	color: $white;


				@media (min-width: $mobileBreakpoint) {
					font-size: 1.4em;
    				line-height: 1.21;
				}
			}
		}
	}
}


.ourTeam {

	&__item {
		display: flex;
		padding-top: 1em;
		margin: 0 0 1em;
    	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.48);
    	background-color: rgba(0, 0, 0, 0.76);

		&:nth-child(even) {
			flex-direction: row-reverse;

			@media (min-width: $mobileBreakpoint) {
				flex-direction: column;
			}
		}

		&__pic {
			max-width: 120px;
		}


		&__text {
		    padding-top: 1.2em;
		    text-align: center;

			&__title {
				font-family: $font01;
    			font-size: 1.2em;
    			color: $green01;
			}

			&__box {

				&__line {
				    font-family: $font01;
				    font-size: 1em;
				    line-height: 1.2;
				    color: $white02;		
				    padding: 0 0.2em;
				}


				@media (min-width: $mobileBreakpoint) {
					padding: 0.2em 0 0;	
				}
			}


			@media (min-width: $mobileBreakpoint) {
				padding-top: 0.5em;
			}


		}

		@media (min-width: $mobileBreakpoint) {
			flex-direction: column;
			width: 22%;
			justify-content: center;
			align-items: center;
			min-height: 240px;
			border-radius: 2em;
    		padding: 0 1em;
		}

	}

    @media (min-width: $mobileBreakpoint) {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-around;
    }



}

.sfPress {

	&__item {
		display: flex;
		background-color: $white;
		padding: 10px;
		border-radius: 2px;

		&__pic {

			&__link {
				&__img {
					display: block;
					max-width: 200px;
				}				
			}

		}

		&__text {
			margin-left: 10px;
			display: inline-flex;
			flex-direction: column;

			&__title {

				&__link {
					color: $blue01;
					font-family: $textFont--bold;
					font-size: 1.1em;
				}
			}

			&__desc {
			    margin: 6px 0 0;
			    font-family: $textFont;
			    font-size: 0.9em;
			    line-height: 1.12;
			    color: $gray01;
			}

			&__cta {				
			    font-family: $textFont;
				color: $blue01;
				margin: auto 0 5px;
			}
		}
	}
}