// VARIABLES:
$headerBG: #d29139;
$headerHeight: 264px;
$logoMobileDim: 90px;
$logoDesktopDim: 180px;

@mixin logoDimension {
	width: $logoMobileDim;
	height: $logoMobileDim;

	@media (min-width: $mobileBreakpoint) {
		width: $logoDesktopDim;
		height: $logoDesktopDim;		
	}
}

.spHeader {
    background-color: $headerBG;
    background: url("../pics/black-linen.png"),linear-gradient(to top, #e69d06, #ff6c44);

	&__info {
		// background: url(../pics/headerbg.jpg) center/cover no-repeat transparent;
		display: flex;

		@media (min-width: $mobileBreakpoint) {
			height: $headerHeight;
		}


		&__logo {
			@include logoDimension;
		    align-self: center;
		    margin-left: auto;
		    
			&__img {
				@include logoDimension;
			}
		}

		&__text {
			margin: 50px auto 0 auto;

			&__title {
				font-family: Optician-Sans;
				font-size: 90px;
				line-height: 59px;
				text-align: center;
				font-weight: 900;
				color: #fff;
				text-shadow: 0 0 6px #000;
			}

			&__subtitle {
				font-family: "EastSeaDokdo-Regular";
				font-size: 60px;
				color: aliceblue;
				margin: 10px 0 0;				
			}
		}
	}


}