// VARIABLES:
$headerBG: #d29139;
$headerMobileHeight: 60px;
$headerDesktopHeight: 350px;
$logoMobileDim: 48px;
$logoDesktopDim: 250px;

@mixin logoDimension {
	width: $logoMobileDim;
	height: $logoMobileDim;

	@media (min-width: $mobileBreakpoint) {
		width: $logoDesktopDim;
		height: $logoDesktopDim;		
	}
}

.spHeader {
	position: relative;
	height: $headerMobileHeight;
	// padding-top: 7px;
    // background-color: $headerBG;
    // @include brownGradient;
    // box-shadow: inset 0 0 5px 1px #000;

    @media (min-width: $mobileBreakpoint) {
    	height: $headerDesktopHeight;
    	padding-top: 0;
    	box-shadow: none;

	        background-color: #d29139;
    		background: url(../pics/black-linen.png),linear-gradient(to top, #5b574f, #6ad4bd);
    }

    // &--nude {
    // 	background-color: transparent;
    // 	// background: none;
    // 	background: linear-gradient(to bottom, #434343, #000);
    // 	height: auto;

    // 	.spHeader__info {

    // 		@media (min-width: $mobileBreakpoint) {
    // 			display: none;
    // 		}
    // 	}
    // }


    &__overlay {
    	position: absolute;
    }

    @at-root .navContainer {
	    border-bottom: 1px solid;
	    position: fixed;
	    width: 100%;
	    top: 0;
	    z-index: 1000;
	    background-color: #f8f8f8;
    }

    &__nav {
		display: none;
		justify-content: space-between;
		// padding: 10px 12px 7px;
		// box-shadow: 0 0px 9px 6px rgba(0,0,0,0.47);
		position: relative;
		// top: 10px;


		@media (min-width: $mobileBreakpoint) {
			display: flex;
		}

    	&__item {
			font-family: 'Optician-Sans';
			color: $gray01;
			font-size: 24px;
			padding: 4px 8px;
			@include transition01;


			&.homeNavItem {

				&:before {
				    content: "";
				    display: inline-block;
				    background: url(../pics/logo03.svg) center/cover no-repeat transparent;
				    width: 30px;
				    height: 30px;
				    vertical-align: middle;
				    margin: 0 3px 0 0;				}

			}

			&.active,
			&:hover {
			    // color: #6cbdff;
		        // color: #19caa3;
		        
		        color: $green04;
			    background-color: #2f2f2f;
			    @include transition01;
			}

			&--black {
				color: #333;
			}
    	}

    	&.opened {
    		display: flex;
    		flex-direction: column;
    		justify-content: flex-start;
		    position: fixed;
		    width: 90%;
		    height: 100%;
		    z-index: 10000;
		    background-color: rgba(75, 75, 75, 0.91);
		    box-shadow: 11px 0 35px 31px rgba(0, 0, 0, 0.75);
		    left: 0;
		    top: 0;    	

		    	.spHeader__nav__item {
				    border-bottom: 1px dashed #fff;
				    padding: 8px 0;
				    margin: 0 0 23px;
				    border-top: 1px dashed #fff;		    		
		    	}
    	}

    	&--nude {
    		box-shadow: none;
    		top: 0;
    	}
    }


	&__info {
		// background: url(../pics/headerbg.jpg) center/cover no-repeat transparent;
		display: flex;

		@media (min-width: $mobileBreakpoint) {
			margin: 20px 0 0;
			// height: $headerHeight;
		}

		// MAYBE ON MQ
		@at-root .fixedHomeInfo {
			position: fixed;
		    // top: 41px;
		    top: 0;
		    left: 0;
		    right: 0;
		    z-index: 10;
			height: $headerMobileHeight;
			display: flex;

			&.kickflip {
				padding: 0;

				@media (min-width: $mobileBreakpoint) {
					padding: inherit;
				}
			}

		}


		&__logo {
			@include logoDimension;
		    // align-self: center;
		    // margin: 3px 10px 0;
		    
		    // background: url(../pics/logosurferpenguin.svg) center no-repeat transparent;
		    background: url(../pics/logo03.svg) center/cover no-repeat transparent;

			@media (min-width: $mobileBreakpoint) {
			// margin: 3px 10px 0;
				margin-left: auto;
			}

			&__img {
				@include logoDimension;
			}
		}

		&__text {
			// margin: 0 auto 0 auto;
			    // align-self: center;

			&__title {
				text-align: center;
				display: flex;

    			@media (min-width: $mobileBreakpoint) {
    				display: block;
    			}

				&__part {
					font-family: Berlin-Sans-FB-Regular;
					text-align: center;
					font-weight: 900;
					// color: #fff;
					// text-shadow: 0 0 6px #000;

					color: $green04;
				    text-shadow: 0 0 5px #000;


				    display: inline-flex;
					margin: 0 0 0 8px;
				    font-size: 32px;

				    // TODO: Make integer all LINE HEIGHTS
				    // line-height: 51px;
					
					letter-spacing: 3px;


	    			@media (min-width: $mobileBreakpoint) {
						letter-spacing: 5px;
						font-size: 90px;
						line-height: 72px;    				
	    			}					
				}

			}

			&__subtitle {
				font-family: "EastSeaDokdo-Regular";
				// color: aliceblue;
			    position: absolute;
			    bottom: 8px;
			    font-size: 30px;

		    right: 16px;
		    left: auto;
		    font-size: 22px;
		    text-align: right;
		    margin: 0;


    color: #b0f4ff;
    text-shadow: 0 0 6px #000;

    			@media (min-width: $mobileBreakpoint) {
    				position: relative;
    				bottom: 0;
					font-size: 60px;
					margin: 10px 0 0;


			    width: 100%;
			    left: 0;
			    right: 0;
			    margin: auto;
			    text-align: center;
    			}


			}
		}
	}


}


.menuTrigger {
	opacity: 0;
	width: 0;
    height: 0;
    cursor: pointer;
    background-color: #0d0d0d;
    box-shadow: 0 0 10px 0px #c25833;
    position: fixed;
    bottom: 8%;
    right: 8%;
    border-radius: 50%;
    z-index: 1000000;
	transition: all 0.6s ease;
	@include noTextSelection;

    ul {
    	display: none;
		flex-direction: column;
		height: 30px;
		width: 50px;
		justify-content: space-evenly;
		align-items: flex-end;
		top: 10px;
		position: relative;
		right: 11px;

		li {
			width: 30px;
			height: 3px;
			background-color: #fff;
			border-radius: 2px;
			transition: all 0.1s ease;

			&:last-child {
				width: 21px;
			}
		}
    }
    &.visible {
    	opacity: 1;
    	width: 50px;
    	height: 50px;

    	ul {
    		display: flex;
    	}
    }

	&.cross {
		ul {
			li {
				transition: all 0.1s ease;					

				&:first-child {
					background-color: gray;
					transform: rotate(-45deg);
					width: 35px;
					position: relative;
					top: 8px;
					left: 4px;
				}
				&:nth-child(2)  {
					background-color: gray;
					transform: rotate(45deg);
					width: 35px;
					position: relative;						
					left: 3px;
				}
				&:last-child {
					width: 0;
				}
			}

		}
	}

	@media (min-width: $mobileBreakpoint) {
		display: none;
	}
}