.whoWeAre {

	height: calc(100vh -  #{$headerHeight});
	// background-color: #000;
	// @include darkGradient01;
	@include beachGradient;

	&__wrapper {
	    display: flex;
	    height: 100%;
	    position: relative;
	    // z-index: 100;
	    padding-top: 20px;
	    flex-direction: column;
	    align-items: center;
	}

	&__header {

		&__title {
		    color: #fff;
		    font-family: 'Berlin-Sans-FB-Regular';
		    font-size: 63px;
		    letter-spacing: 0.5px;
		    text-shadow: 0 0 2px #000;
		}
	}


	&__content {
	    display: flex;
	    align-items: center;


		&__graphs {

			&__img {
			    max-width: 570px;
			    display: block;
			    margin: 40px auto;			
			}
		}

		&__text {
		    align-self: flex-start;
		    padding-top: 30px;
		    			
			&__p {
			    font-family: 'EastSeaDokdo-Regular';
			    font-size: 35px;
			    line-height: 28px;
			    width: 80%;
			    color: ivory;
		        margin: 0 0 20px 30px;		
			}

			&__cta {
				display: block;
				width: 100px;
				background-color: #fff;
				padding: 5px 0;
				border-radius: 5px;
				font-family: 'Berlin-Sans-FB-Regular';
				color: #000;
				margin: auto;
				text-align: center;				
			}
		}

	}
}


