.whoWeAre {

	height: calc(100vh -  #{$headerHeight});
	// background-color: #000;
	@include darkGradient01;

	&__wrapper {
		display: flex;
		height: 100%;
	}

	&__header {

		&__title {
		    color: #fff;
		    font-family: 'Optician-Sans';
		    font-size: 46px;
		    line-height: 38px;
		}
	}
}


